<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group5_decisionbasedgame">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group5_DecisionBasedGame">
        <activity
            android:name=".view.Intro"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Main_Menu"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".view.Settings"
            android:screenOrientation="landscape"/>
        <activity android:name=".view.AlexIntro"
            android:screenOrientation="landscape"/>
        <activity android:name=".view.LeRodgeIntro"
            android:screenOrientation="landscape"/>
        <activity android:name=".view.ToniIntro"
            android:screenOrientation="landscape"/>
    </application>

</manifest>